form {
    /* Apenas para centralizar o form na página 
    margin: 0 auto;
    width: 650px;
    padding: 1em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1em;
    background-color: rgb(0, 0, 0, 0.7);
    margin-top: 50px;*/
    
}
form div + div {
    margin-top: 1em;
}
label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    font-family: century-gothic, sans-serif;
    display: block ruby;
    width: 90px;
    text-align: left;
    color:white;
    font-size: 17px;
}
textarea {
    /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    vertical-align: top;

    /* Para dar espaço suficiente para digitar algum texto */
    height: 5em;

    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
    resize: vertical;
}
input, textarea {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 300px;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid rgb(255, 255, 255);
}

input:focus, textarea:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: rgb(0, 0, 0);
}
#buttons {
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    padding-left: 0px; /* mesmo tamanho que os elementos do tipo label */
    text-align: center;
    font-size: larger;
}
button {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
    margin-left: .5em;
    
}
legend {
    font-family: century-gothic, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 45px;
}
.body {
    background-image: url("guarani.jpg");
    font-family: century-gothic, sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-size: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.form-row{
    display: block ruby;
}
#hora{
    width: auto;
    align-items: right;
    display: inline;
    color: rgb(255, 255, 255);
} 
#dia{
    width: auto;
    align-items: right;
    display: inline-block;
    color: rgb(255, 255, 255);
    
}
#content{
    margin: 0 auto;
    width: 650px;
    padding: 1em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1em;
    background-color: rgb(0, 0, 0, 0.7);
    margin-top: 50px;
    margin-bottom: 50px;
}
#vehiclesInformation{
    margin-bottom: 50px;
}